.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container {
    width: var(--default-layout-width, 1484px);
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
    display: flex;
}
.content {
    flex: 1;
}
